.modal {
  @apply fixed inset-0 flex items-center justify-center z-[100] transition;
  @apply py-16 px-16;

  &-content {
    @apply relative max-h-full bg-white overflow-auto rounded z-[102];
    @apply mobile:px-16 p-40;

    .close {
      @apply absolute text-black hover:text-green cursor-pointer transition
        top-16 right-16
        md:top-20 md:right-20
        xl:top-20 xl:right-20
        2xl:top-20 2xl:right-20
        z-[inherit];
    }
  }

  &-overflow {
    @apply fixed inset-0 bg-black/30 z-[101];
  }

  &--container {
    @apply px-[theme(container.padding.DEFAULT)]
      md:px-[theme(container.padding.md)]
      lg:px-[theme(container.padding.lg)]
      xl:px-[theme(container.padding.xl)]
      2xl:px-[theme(container.padding.2xl)];

    .modal-content {
      --max-width-md: calc(theme(screens.md) - theme(container.padding.md) * 2);
      --max-width-lg: calc(theme(screens.lg) - theme(container.padding.lg) * 2);
      --max-width-xl: calc(theme(screens.xl) - theme(container.padding.xl) * 2);
      --max-width-2xl: calc(
        theme(screens.2xl) - theme(container.padding.2xl) * 2
      );

      @apply p-0
        w-full
        2xl:max-w-[var(--max-width-2xl)];

      @media screen and (min-width: 1320px) and (max-width: 1440px) {
        width: calc(100% - 20px * 2);
      }
    }
  }

  &--background {
    .modal-content {
      @apply p-0;

      .close {
        @apply text-white hover:text-auxiliary-2;
      }
    }
  }
}
